<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.polinema.appmusic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coverbts"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SignUpActivity"></activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".actionmusics.ActionActivity23" />
        <activity android:name=".actionmusics.ActionActivity22" />
        <activity android:name=".actionmusics.ActionActivity21" />
        <activity android:name=".actionmusics.ActionActivity20" />
        <activity android:name=".actionmusics.ActionActivity19" />
        <activity android:name=".actionmusics.ActionActivity18" />
        <activity android:name=".actionmusics.ActionActivity17" />
        <activity android:name=".actionmusics.ActionActivity16" />
        <activity android:name=".actionmusics.ActionActivity15" />
        <activity android:name=".actionmusics.ActionActivity14" />
        <activity android:name=".actionmusics.ActionActivity13" />
        <activity android:name=".actionmusics.ActionActivity12" />
        <activity android:name=".actionmusics.ActionActivity11" />
        <activity android:name=".actionmusics.ActionActivity10" />
        <activity android:name=".actionmusics.ActionActivity9" />
        <activity android:name=".actionmusics.ActionActivity8" />
        <activity android:name=".actionmusics.ActionActivity7" />
        <activity android:name=".actionmusics.ActionActivity6" />
        <activity android:name=".actionmusics.ActionActivity5" />
        <activity android:name=".actionmusics.ActionActivity4" />
        <activity android:name=".actionmusics.ActionActivity3" />
        <activity android:name=".actionmusics.ActionActivity2" />
        <activity android:name=".albums.AlbumBts6" />
        <activity android:name=".albums.AlbumBts5" />
        <activity android:name=".albums.AlbumBts4" />
        <activity android:name=".albums.AlbumBts3" />
        <activity android:name=".albums.AlbumBts2" />
        <activity android:name=".albums.AlbumBts" />
        <activity android:name=".actionmusics.ActionActivity" />
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".fragments.MusicFragment" />
        <activity android:name=".fragments.AlbumFragment" />
        <activity android:name=".fragments.HomeFragment" />
        <activity android:name=".fragments.BioFragment" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>